In [21]:
%%writefile file1
hello world
hello world
hello world
hello world

Overwriting file1

In [22]:
# open file
file1 = open('file1')

In [23]:
# read file
file1.read()

'hello world\nhello world\nhello world\nhello world\n'

In [24]:
# Start reading the file from posotion 1
file1.seek(1)
file1.read()

'ello world\nhello world\nhello world\nhello world\n'

In [26]:
file1.readlines()

[]

In [27]:
# close file
file1.close()

In [33]:
#
file1 = open('file1','w+')

In [48]:
file1.write('This is a new first line')
file1.close()

In [49]:
file1 = open('file1','a+')

In [50]:
file1.write('This line is being appended to test.txt')
file1.read()

''

In [43]:
%%writefile -a file1
This is more text being appended to test.txt
And another line here.

Appending to file1

In [55]:
with open('file1','r') as txt:
    first_line = txt.readlines()[0]
    
print(first_line)

This is a new first lineThis line is being appended to test.

In [59]:
with open('file1','r') as txt:
    for line in txt:
        print(line, end='')  # the end='' argument removes extra linebreaks

This is a new first lineThis line is being appended to test.
And another line here.
This line is being appended to test.

In [9]:
# Visualization of Table
import pandas as pd
data = pd.read_csv('01.csv')
data.head(20)

        Sector  Sec No.                         Class  Class No.
0   Equipments        1                Air Conditions        101
1   Equipments        1                   Air Heaters        102
2   Equipments        1                    Air Cooler        103
3   Equipments        1                  Exhaust Fans        104
4   Equipments        1                   Air Filters        105
5   Equipments        1                 Electric Fans        106
6   Equipments        1                       Kettles        107
7   Equipments        1               Electric Grills        108
8   Equipments        1                        Stoves        109
9   Equipments        1                         Ovens        110
10  Equipments        1       Microwaves and Toasters        111
11  Equipments        1                  Yogurt Maker        112
12  Equipments        1  Cappuccino and Coffee Makers        113
13  Equipments        1               Electric Fryers        114
14  Equipments        1                      Blenders        115
15  Equipments        1        Other Kitchen Machines        116
16  Equipments        1                 Refrigerators        117
17  Equipments        1            Water Refrigerator        118
18  Equipments        1              Water Dispensers        119
19  Equipments        1                 Deep Freezers        120

In [12]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 217.9 kB/s eta 0:00:02
     ---- -------------------------------- 30.7/250.0 kB 217.9 kB/s eta 0:00:02
     ------ ------------------------------ 41.0/250.0 kB 178.6 kB/s eta 0:00:02
     --------- --------------------------- 61.4/250.0 kB 233.8 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 255.1 kB/s eta 0:00:01
     ------------ ------------------------ 81.9/250.0 kB 255.1 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/250.0 kB 228.2 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 242.7 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 242.7 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 242.7 kB/s eta 0:00:01
     ----------------- ------------------ 122.9/250.0 kB 212.1 kB/s eta 0:00:01
     -------------------- --------------- 143.4/250.0 kB 224.1 kB/s eta 0:00:01
     -------------------- --------------- 143.4/250.0 kB 224.1 kB/s eta 0:00:01
     ----------------------- ------------ 163.8/250.0 kB 223.3 kB/s eta 0:00:01
     ------------------------- ---------- 174.1/250.0 kB 223.2 kB/s eta 0:00:01
     ---------------------------- ------- 194.6/250.0 kB 236.0 kB/s eta 0:00:01
     ----------------------------- ------ 204.8/250.0 kB 235.0 kB/s eta 0:00:01
     -----------------------------------  245.8/250.0 kB 260.0 kB/s eta 0:00:01
     ------------------------------------ 250.0/250.0 kB 260.0 kB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
data = pd.read_excel('02.xlsx')
data.head()

,Data Import Template,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Table:,Ad List,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Please do not change the template headings.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
outfile = open('03.csv', 'w')
outfile.write('Hi')
outfile.close()

In [17]:
outfile = open('04.xls', 'w')
outfile.write('Hi 2')
outfile.close()

In [19]:
f= open('5.txt','w') #write
f.write('write this line in the file')
f.close()

In [20]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

In [21]:
f= open('5.txt','a') #append
f.write('\nmore lines')
f.close()

In [22]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

more lines

In [24]:
import numpy as np
data = pd.DataFrame(pd.Series(np.random.rand(10000)))
data.head(20)

           0
0   0.111617
1   0.979474
2   0.227935
3   0.317778
4   0.169367
5   0.168089
6   0.011290
7   0.992705
8   0.594218
9   0.150853
10  0.981916
11  0.861264
12  0.239059
13  0.280918
14  0.090640
15  0.348751
16  0.879290
17  0.901008
18  0.787695
19  0.451365

In [23]:
data.to_csv('6.csv')