In [21]:
%%writefile file1
hello world
hello world
hello world
hello world

Overwriting file1

In [22]:
# open file
file1 = open('file1')

In [23]:
# read file
file1.read()

'hello world\nhello world\nhello world\nhello world\n'

In [24]:
# Start reading the file from posotion 1
file1.seek(1)
file1.read()

'ello world\nhello world\nhello world\nhello world\n'

In [26]:
file1.readlines()

[]

In [27]:
# close file
file1.close()

In [33]:
#
file1 = open('file1','w+')

In [48]:
file1.write('This is a new first line')
file1.close()

In [49]:
file1 = open('file1','a+')

In [50]:
file1.write('This line is being appended to test.txt')
file1.read()

''

In [43]:
%%writefile -a file1
This is more text being appended to test.txt
And another line here.

Appending to file1

In [55]:
with open('file1','r') as txt:
    first_line = txt.readlines()[0]
    
print(first_line)

This is a new first lineThis line is being appended to test.

In [59]:
with open('file1','r') as txt:
    for line in txt:
        print(line, end='')  # the end='' argument removes extra linebreaks

This is a new first lineThis line is being appended to test.
And another line here.
This line is being appended to test.

In [25]:
import pandas as pd
data = pd.read_csv('01.csv' , skiprows = 2)
data.head(20)

    Equipments  1                   Air Heaters  102
0   Equipments  1                    Air Cooler  103
1   Equipments  1                  Exhaust Fans  104
2   Equipments  1                   Air Filters  105
3   Equipments  1                 Electric Fans  106
4   Equipments  1                       Kettles  107
5   Equipments  1               Electric Grills  108
6   Equipments  1                        Stoves  109
7   Equipments  1                         Ovens  110
8   Equipments  1       Microwaves and Toasters  111
9   Equipments  1                  Yogurt Maker  112
10  Equipments  1  Cappuccino and Coffee Makers  113
11  Equipments  1               Electric Fryers  114
12  Equipments  1                      Blenders  115
13  Equipments  1        Other Kitchen Machines  116
14  Equipments  1                 Refrigerators  117
15  Equipments  1            Water Refrigerator  118
16  Equipments  1              Water Dispensers  119
17  Equipments  1                 Deep Freezers  120
18  Equipments  1                    Ice Makers  121
19  Equipments  1         Electric Water Heater  122

In [27]:
data = pd.read_excel('02.xlsx' , skiprows = 2)
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Please do not change the template headings.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,First data column must be blank.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"If you are uploading new records, leave the ""n...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
outfile = open('03.csv', 'w')
outfile.write('a')
outfile.close()

In [29]:
outfile = open('04.xls', 'w')
outfile.write('a')
outfile.close()

In [30]:
f= open('5.txt','w') #write
f.write('write this line in the file')
f.close()

In [31]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

In [32]:
f= open('5.txt','a') #append
f.write('\nmore lines')
f.close()

In [33]:
f= open('5.txt','r') #read
for a in f:
    print(a)

write this line in the file

more lines

In [34]:
import numpy as np
data = pd.DataFrame(pd.Series(np.random.rand(10000)))
data.head(20)

           0
0   0.132507
1   0.239589
2   0.959655
3   0.851811
4   0.301495
5   0.747638
6   0.875353
7   0.170366
8   0.154110
9   0.399205
10  0.473087
11  0.468504
12  0.579339
13  0.730942
14  0.698028
15  0.969195
16  0.978434
17  0.511646
18  0.775012
19  0.738994

In [35]:
data.to_csv('6.csv')

In [ ]:

f.write('\nاللغة العربية')

In [36]:
f= open('7.txt','w', encoding="utf8") 
f.write('سطور باللغة العربية')
f.close()

In [ ]:
f= open('7.txt','a', encoding="utf8") 
f.write('\nسطر ثاني')
f.write('\nسطر ثالث')
f.write('\nسطر رابع')
f.write('\nسطر أخير')
f.close()

In [ ]:
f= open('7.txt','r', encoding="utf8") 
for a in f:
    print(a)